@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
}

.auth-page-main {
  width: 100%;
  min-height: 100vh;
  background-image: url('../images/background-image.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
}

.card-auth {
  width: 400px;
}

.logo-app{
  width: 100px;
}
